beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
extruct==0.16.0
html5lib==1.1
html_text==0.6.0
idna==3.6
isodate==0.6.1
jstyleson==0.0.2
lxml==5.1.0
lxml_html_clean==0.1.1
mf2py==2.0.1
pyparsing==3.1.2
pyRdfa3==3.6.2
rdflib==7.0.0
recipe_scrapers==14.55.0
requests==2.31.0
six==1.16.0
soupsieve==2.5
urllib3==2.2.1
w3lib==2.1.2
webencodings==0.5.1